[core]
log_raw = false
logdir = {{ sopel_log_dir }}/{{ sopel_instance_name}}
pid_dir = {{ sopel_pid_dir }}
db_filename = {{ sopel_config_dir }}/{{ sopel_instance_name }}.db

prefix = {{ sopel_command_prefix }} 
help_prefix = {{ sopel_command_prefix }}

nick = {{ sopel_nick }}
auth_username = {{ sopel_auth_user }}
auth_password = {{ sopel_auth_pass }}
auth_method = {{ sopel_auth_method }}

host = {{ sopel_irc_host }}
use_ssl = true
verify_ssl = true
port = {{ sopel_irc_port }}

owner = {{ sopel_bot_owner }}
channels = 
    {{ sopel_channels|join('\n    ') }}
nick_blocks = 
    {{ sopel_ignored_nicks|join('\n    ') }}
host_blocks = 
    {{ sopel_ignored_hosts|join('\n    ') }}

{% if sopel_enabled_plugins is defined %}
enable = 
    {{ sopel_enabled_plugins|join('\n    ') }}
{% endif %}
{% if sopel_bot_admins is defined %}
admins = 
    {{ sopel_bot_admins|join('\n    ') }}
{% endif %}
{% if sopel_excluded_plugins is defined %}
exclude = 
    {{ sopel_excluded_plugins|join('\n    ') }}
{% endif %}

[admin]
hold_ground = false
auto_accept_invite = true

[wikipedia]
default_lang = en

[clock]
tz = {{ sopel_timezone }}
time_format = {{ sopel_time_format }}

{% if sopel_config_extra is defined %}
{{ sopel_config_extra }}
{% endif %}
